*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fdf0d5;
    line-height: 1.6;
}

.header {
    min-height: 26vh;
    width: 100%;
    background-color: #780000;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 20px 0;
}

nav {
    display: flex;
    /* margin-top: 6px; */
    margin-right: 6px;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

}




.text-box{
    color: #fdf0d5;
    font-family:"Crimson Text", serif;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    margin-top: 15px;
    font-weight: 700;
    font-style: italic;
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px
    
}
.nav-links {
    flex: 1;
    text-align: right;
    position: relative;
    z-index: 10;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: #fdf0d5;
    text-decoration: none;
    font-family: serif;
    font-size: 13px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fdf0d5;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        margin-top: 15px;
        font-weight: 700;
        font-style: italic;
        font-size: 40px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: fixed;
        background: #003049;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fdf0d5;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        z-index: 10;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.Welcome {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
#namaste {
    font-size: 36px;
    font-weight: 600;
    font-family: serif;
    font-style: italic;

}

#intro {
    color: #111717;
    font-size: 19px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    /* max-width: 75ch; */
}

#issue1-btn {
    display: inline-block;
    text-decoration: none;
    color: #780000;
    border: 1px solid #780000;
    border-radius: 20px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

#issue1-btn:hover {
    border: 1px solid #780000;
    background: #d9ed92;
    transition: 1s;
}



/* Main container for the section */
.listings {
    width: 80%;
    margin: 4rem auto; /* Adds space above and below the section */
    text-align: center;
}


.listings h3 {
    font-family: serif;
    font-style: italic;
    font-size: 24px;
    color: #780000;
    margin-bottom: 2rem; 
}


.listing-images {
    display: flex;
    justify-content: center; 
    align-items: center;  
    gap: 3rem;             
    flex-wrap: wrap;       
}


.listing-images img {
    max-width: 250px; 
    height: auto;     
}

.footer {
    background-color: #780000;
    color: #fdf0d5;
    margin-top: 45vh ;
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4 {
    color: #fdf0d5;
    margin-bottom: 25px;
    margin-top: 5rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;

}
.footer p {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 15px;
}
.icons {
    color: #fdf0d5;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    
}

.icons a {
    color: #fdf0d5;
    font-size: 25px;
} 

.fa-heart {
    color: #fdf0d5;
    font-size: 15px;
}


a:focus, button:focus {
  outline: 3px dashed #780000;
  outline-offset: 3px;
}