* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdf0d5;
}

.header {
  min-height: 0vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  /* margin-top: 6px; */
  margin-right: 6px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

}

.header1 {
  min-height: 26vh;
  width: 100%;
  background-color: #fdf0d5;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.text-box1 {
  color: #780000;
  font-family: "Crimson Text", serif;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.text-box1 h1 {
  margin-top: 15px;
  font-weight: 700;
  font-style: italic;
  font-size: 62px;
}
.text-box1 p {
  margin: 10px 0 40px;
  font-size: 20px;
}
.nav-links {
  flex: 1;
  text-align: right;
  position: relative;
  z-index: 10;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #780000;
  text-decoration: none;
  font-family: serif;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #780000;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    margin-top: 15px;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #8bbad3;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #780000;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

.footer {
  background-color: #780000;
  color: #fdf0d5;
  margin-top: 55vh;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  color: #fdf0d5;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
.footer p {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 15px;
}
.icons {
  color: #fdf0d5;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.icons a {
  color: #fdf0d5;
  font-size: 25px;
}

.fa-heart {
  color: #fdf0d5;
  font-size: 15px;
}

.submit {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}
.h1k {
  text-align: center;
  padding-left: 40px;
  font-style: italic;
  color: #780000;
  font-size: 25px;
}

.intro {
  color: #111717;
  font-size: 19px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.social {
  color: #780000;
  font-size: 19px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
